body {
  background-color: #FAF6F0;
  font-family: 微軟正黑體, Arial;
  color: #231815;
}

a{
  color: #231815;
  cursor: pointer;
}


/*--navbar--*/
.navbar-md{
  display: none;
  background-color: #ffffff;
}
.logo {
  height:30px;
  width:100px;
}

nav#gt-nav {
  padding: 0 1rem;
  border-bottom: 2px solid #44AD47;
  background-color: white;
}

nav a#gt-brand {
  width: 150px;
}

.navbar-nav li {
  padding: 0 20px;
}

.navbar-nav li.active {
  
  border-bottom: 3px solid #44AD47;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link.active{
  color: #44AD47;
}

.navbar-toggler{
  border: none;
}

div.container {
/*  margin-top: 60px;	 also offset for top fixed nav
*/}

/*--stores--*/
#stores {
  margin-top: 45px;
  background-color: white;
  padding: 0;
}

.no-padding {
  padding: 0;
}

.store {
  font-weight: bold;
  text-align: center;
  margin: 40px 0 100px;
}

.store-md{
  display: none;
  padding: 40px;
  text-align: center;
}
.store-md h2{
  font-size: 1.5rem;
  font-weight: bold;
}

.store-aside{
  padding: 40px 60px;
}

h3 {
   font-weight: bold;
}

.store-info{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60px;
  bottom: 40px;
}

.store-info h3, .store-info h4{
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.store-info h4{
  margin-bottom: 1.25rem;
  color:#9FA0A0;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

/*--news--*/
#news{
  margin-top: 20px;
}
.article-container img{
  width: 100%;
  height: 100%;
}

.article-container h3{
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
}
.article-container h4{
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.news-aside{
  padding: 20px;
  background-color: #ffffff;
}

.news-content{
  margin-top: 20px;
  margin-bottom: 50px;
  white-space: pre-line;
}

.news-read-more{
  font-size: 0.9rem;
  margin: 20px 0;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.news-read-more-md{
  display: none;
  font-size: 0.9rem;
  margin: 20px 0;
  text-align: right;
}

.more-article-container-md img, .more-article-container-lg img{
  width: 100%;
}

.more-article-container-md{
  display: none;
}

.newsletter-container{
  padding: 10px 30px;
  background-color: #ffffff;
  margin-top: 20px;
  text-align: center;
}

.newsletter-container-main{
  padding: 10px;
}
.newsletter-container-aside{
  padding: 0px;
}

.facebook-logo, .medium-logo{
  height: 30px;
  width: unset;
}

.newsletter-container-main a:hover{
  text-decoration: none;
}

.newsletter-container-main form{
  display: inline-block;
  position: relative;
  border: solid 1px#44AD47;
  margin: 10px 0 30px;
  white-space: nowrap;
}

.newsletter-container-main .email-icon{
  position: absolute;
  left: 5px;
  width: 30px;
}

.newsletter-container-main input{
  border: none;
  padding-left: 40px;
  margin: 0;
  width: calc(100% - 104px);
  background-color: rgba(0,0,0,0);
}

.newsletter-container-main button{
  border: none;
  background-color: #44AD47;
  color: #ffffff;
  padding: 5px 30px;
  width: 100px;
  font-size: 1.2rem;
}

.newsletter-container-aside img{
  width: 100%;
  height: 100%;
}


.newsletter-contact-us{
  font-weight: bold;

}
.newsletter-contact-us span{
  margin: 10px;
}

.more-article-container-lg{
  margin-top: 20px;
}

.more-article-container, .for-dummies-container{
  background-color: #ffffff;
  text-align: right;
}

.more-article-container img{
  width: calc(100% - 40px);
  margin: 0 20px;
}

.more-article-container p{
  padding: 5px 10px;
  margin: 0;
}

.for-dummies-container{
  padding: 40px 20px 0 20px;
  margin-left: 20px;
  height: 100%;
}

.for-dummies-container h3{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.for-dummies-container p{
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

/*---activities---*/

#activities {
  background-color: #F1D1D4;
  margin-top: 20px;
  text-align: center;
}

.activities-container {
  padding: 125px 10px;
}

#activities h1{
  font-weight: bold;
}

#activities h1, #activities h3{
  margin-bottom:5rem;
}

#activities img{
  width: calc(100% - 40px);
  margin: 0 10px 20px 20px;
}

/*--idea--*/

#idea{
   margin-top: 20px;
}

.idea-container {
  background-color: #D8E8DA;
}
.idea-aside {
  background-color: #D8E8DA;
  margin-left: 20px;
  text-align: center;
}

#idea img{
    width: calc(100% - 40px);
  margin: 20px;
}


/*7R*/

.pyramid-container{
  background-color: white;
  padding: 100px;
}

.pyramid-container img{
  margin: auto;
  display: block;
}

@media screen and (max-width:991px){
  /*--navbar--*/
  nav#gt-nav{
    padding: 0;
    background-color: #D8E8DA;
  }
  .nav-item{
    border: solid 1px #ffffff;
  }
  .nav-link{
    padding: 20px;
  }
  .navbar-md{
    display: block;
    width: 100%;
  }
  .navbar-lg{
    display: none;
  }

  /*--store--*/
  .store-md{
    display: block;
  }
  .store-aside{
    padding: 20px 40px;
  }
  .store-info h3, .store-info h4{
    font-size: 1rem;
  }
  .store-info{
    flex-direction: row;
    position: relative;
    left: 0;
    bottom: 0;
  }
  .store-info > div{
    width: 50%;
  }
  .store{
    display: none;
  }

  /*--news--*/
  .news-read-more-md{
    display: block;
  }
  .news-read-more{
    display: none;
  }

  .newsletter-container{
    background-color: #F0F8F6;
  }
  .newsletter-container-aside{
    display: none;
  }
}