body {
  background-color: #F0F8F6;
  font-family: 微軟正黑體, Arial;
}

nav#gt-nav {
  padding: 0 1rem;
  border-bottom: 1px solid #44AD47;
  background-color: white;
}

nav a#gt-brand {
  width: 150px;
}

.navbar-nav li {
  padding: 0 20px;
}

.navbar-nav li.active {
  border-bottom: 3px solid #44AD47;
}

.navbar-nav li.active a {
  color: #44AD47;
}

div.container {
  height: 400px;
  padding-top: 60px;	/* also offset for top fixed nav*/
}

div.container div.row div.col {
  margin: 12px;
  height: 300px;
  background-color: #C1E2DB;
}
